/* Button Styling */
.chatbot-btn {
    background-color: #000;
    color: #fff;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .chatbot-btn:hover {
    background-color: #555;
  }
  
  .chatbot-container ::-webkit-scrollbar {
    width: 0px;
  }
  .chatbot-container ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 50px;
  }
  .chatbot-container ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Chatbot Container */
  .chatbot-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    transform: translateY(100%);
    transition: transform 0.5s ease;
    bottom:0px;
    z-index: 1000;
  }
  
  .chatbot-container.show {
    transform: translateY(0);
  }
  
  /* Messages Container */
  .chatbot-messages {
    height: 100vh;
    font-size: medium;
    
  }
  .msgchat{
    font-size: 0.9em;
    text-wrap: wrap;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .msgbox{
    height:50px;
  }
  .btn-primary{ 
    border-radius: 0;
  }  


  @media(max-width:786px){
    .chatbot-container {
        width: 100%;
        height: 100dvh;
        max-width: 100vw;
    }
  }