.scroller {
  overflow: hidden;
  width: 100%;
  padding:20px;
}
.scroller_inner img{
width:175px;
height:175px;
}
.scroller_inner {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

.scrollimg {
  margin: 0 20px;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroller:hover .scroller_inner {
  animation-play-state: paused;
  cursor: grab;
}
