@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Acme|Amaranth|Salsa');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");:root{
  --padding:0;
  --margin:0;
  --scroll-behavior: smooth;
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
*{
padding:0;
margin:0;
scroll-behavior: smooth;
}
.tilt{
transition: all 0.3s;
}
.tilt:hover {
  cursor: pointer;
}
body{
  background-color: white;
  color:black;
}

.typewrite{
  display:flex;
  flex-direction: row;
  justify-content: center;
  word-wrap: break-word;
  word-break: break-all;
  }
  
  .typewrite span{
  width:100%;
  }

  #avatar{
    border-radius: 50%;
    animation: pulse 4s alternate infinite;
    animation-timing-function: linear;
    background-color: #141c3a;
  }
  .project{
    animation: pulse2 10s alternate infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse {
    0% { box-shadow:5px -5px 15px goldenrod, inset 0 0 5px goldenrod; }
    20% { box-shadow:10px 10px 15px goldenrod, inset 0 0 40px goldenrod; }
    40% { box-shadow:10px -10px 15px goldenrod, inset 0 0 60px goldenrod; }
    60% {  box-shadow:-10px -10px 15px goldenrod, inset 0 0 60px goldenrod;;}
    80% { box-shadow:-10px 10px 15px goldenrod, inset 0 0 40px goldenrod; }
    100% { box-shadow:-5px 5px 15px goldenrod, inset 0 0 5px goldenrod;}
  }
  @keyframes pulse2 {
    0% {  box-shadow: 0px 10px 10px goldenrod; }
    20% { box-shadow:0 0 20px goldenrod;  }
    40% { box-shadow:0 0 5px goldenrod;  }
    60% {  box-shadow: 0 0 5px goldenrod;}
    80% { box-shadow:0 0 20px goldenrod;  }
    100% { box-shadow:0 0 10px goldenrod; }
  }
  
  .typewrite{
    overflow: hidden;
  }
  .typewrite .text{
    position: relative;
    color: #ffffff;
  }
  .typewrite .text.first-text{
    color: #FFF;
  }
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #6e07f3;
    border-left: 2px solid #ffffff;
    animation: animate 4s steps(12) infinite;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(110,6,242);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }
  @keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
  }

.box1{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bigbox3{
display: flex;
flex-direction: column;
padding-top:50px; 

}

.bigbox3 .projects{
  width: auto;
  font-family: Salsa;
}


.bigbox3 .projects .card {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 5px black;
  border-radius: 20px;
}
.bigbox3 .projects a{
  margin:5px;
  transition: all 20s;
  font-weight: bolder;
}
.bigbox3 .projects p{
  padding:10px;
  font-size: large;
}
.bigbox3 .projects img{
  padding:0px;
  margin:0;
   border-radius: 20px;
   border-end-start-radius: 0;
border-end-end-radius: 0;
}

.bigbox3 .projects h5{
  font-size: xx-large;
}

.bigbox3 .projects .btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.bigbox3 .projects .btn:hover{
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}


h1,h2{
  font-size:40px;
  font-family: 'Acme';
  font-weight: bolder;
text-align: center;
}

.bigbox3 h2{
  font-size: 60px;
}

p{
font-size: 23px;
padding:10px 40px;
font-family:'Amaranth';
}

img{
  padding: 30px 20px;
}

#base{
  margin-top: 40px;
  width:40%;
  padding:0;
}
.box2{
  background-color: #6e07f3;
  width: 100%;
  height:340px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.box2 h2,.box5 h2{
  font-size: xx-large;
  color: white;
  padding:10px;
  font-family:'Acme';
  text-align: center;
  font-weight: bolder;
}
.box2 p{
  color: white;
  font-size: 23px;
  width: 70%;
}

.bigbox1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top:-55px;
}
.box3{
  width:95%;
  background-color: white;
border-radius: 25px;
box-shadow: 2px 2px 15px black;
display: flex;
border:0.1px solid black;
flex-direction: row;
justify-content: center;
text-align: center;
}

.minbox{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
      border-left: 0.1px black solid;

}


.box3 h3{
  padding-top: 20px;
font-size: xx-large;
  font-family: 'Acme';

}
.box3 h4{
  padding-top: 20px;
  font-size: x-large;
      font-family: 'Acme';
}

.box3 p{
  font-size: 20px;
}
.box3 a{
  width: 50%;
  background: black;
  text-decoration: none;
  border-radius: 25px;
   color: white;
  font-size: 23px;
  width: 70%;
  margin-bottom: 20px;
  align-self: center;
  box-shadow: 0px 0px 10px white;
  padding: 5px;
  font-family: "Amaranth";
}

.space{
  width: 100%;
  height:100px;
}
.space1{
  width: 100%;
  height:60px;
}
.bigbox2{
  display: flex;
  justify-content: center;
  width: 100%;
}

.box4{
  background-color: #141c3a;
  display: flex;
  width:90%;
  height: 200px;
  border-radius: 30px;
  box-shadow: 2px 2px 15px black;
flex-direction: row;
justify-content: space-around;
color:white;
margin-bottom: -40px;
align-items: center;
}
.box4 h2{
  width:100%;
}
.box4 p{
  width:100%;
}

.box4 a{
  width:min-content;
  text-decoration: none;
  border-radius: 25px;
   color: white;
   text-align: center;
  font-size: 23px;
  width: 70%;
  margin-bottom: 20px;
  align-self: center;
  padding: 5px;
  font-family: "Amaranth";
}
a span{
  padding:20px;
  transition: all 1s;
  border-radius: 30px;
  border:2px solid #52d0a9;
}
.box4 span:hover{
  background:#52d0a9;
  color:#141c3a;
}
.box5{
  background-color: #6e07f3;
  width: 100%;
  display:flex;
  flex-direction: column;
  height:auto;
  justify-content: center;
  align-items: center;
  padding-top:100px ;
}
.box5 .links{
width:100%;
display: flex;
justify-content: space-evenly;
align-items:start;
flex-direction: row;
}

.card img{
  height:260px;
}


i{
  color:white;
}
.box3{
  flex-direction: row-reverse;
}

  .minbox3{
    border-left: none;
} 
@media (max-width:1024px){

  .box1{
      margin-top: 70px;
  }
  #base{
      margin-top: 40px;
      width:100%;
      padding:0;
  }
  .box2{
      height:auto;
      align-items: start;
  }
  .box2 h2{
      padding-top: 50px;
      text-align: center;
  }
  .box2 p{
    text-align: start;
      width:100%;
      padding-bottom: 60px;
  }
  .box3{
      flex-direction: column-reverse;
      border: 0;
      box-shadow: none;
      background: transparent;
  }
  .bigbox1{
      margin-top: 0;
      padding-bottom: 40px;
  }


  .box4{
      flex-direction: column;
      height:auto;
      padding: 10px;
  }
  .minbox{
    height: auto;
    border-right: 0;
    border-radius: 25px;
    box-shadow: 2px 2px 15px black;
    border: 0.1px solid black;
    margin-top: 50px;
    border-left:none;
}

}
@media (max-width:412px){
  .box5 .links{
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    }
}
@media (prefers-color-scheme: dark) {
  

}

